body{
    background-color: #DDD0C8;
    font-family: "PT Sans Caption", sans-serif;

}
h1{
    font-family: "Pacifico", cursive ;
    font-size: 50px;
    color: #323232;
    position: relative;
}
.book-body{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    background: linear-gradient(to right, #CD9C8A, #FF5100);
    left: 0;
    bottom: 10px;
    z-index: -1;
    transition: height 350ms;
}
h1:hover::before {
    height: 50%;
}
h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background: linear-gradient(to right, #CD9C8A, #FF5100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(to right, #CD9C8A, #FF5100);
    background-clip: text;
}
h2 .fa-bookmark{
    font-family: "Righteous", "cursive";
    font-size: 25px;
    background: linear-gradient(to right, #CD9C8A, #FF5100)!important;
    -webkit-text-fill-color: transparent;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #CD9C8A;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

.btn-submit{
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: linear-gradient(to right, #CD9C8A, #FF5100);
    color: white;
    border-radius: 5px !important;
    
}
.btn-submit:hover {
    background: linear-gradient(to right, #b9816b, #863814);
}
.btn-visit{
    width: 90px;
    height: 40px;
    background: #8a9e23;
    color: white;
    font-size: 16px;
    border-radius: 5px !important;
}
.btn-delete{
    width: 95px;
    height: 40px;
    background: #eb1d36;
    font-size: 16px;
    color: white;
    border-radius: 5px !important;
}
.box-info {
    background-color: #0007;
}

.box-conent {
    width: 500px;
    z-index: 10;
}
.box-conent p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}
.circles span {
    display: block;
    width: 20px;
    height: 20px;
}
.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}
.rules li {
    font-size: 18px;
    padding-top: 10px;
}